@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  height: 80px;
}
header #mainNav {
  position: fixed;
  background-color: rgba(0, 159, 227, 0.1);
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  #main {
    width: 100%;
    margin: 0 auto;
  }
}
@font-face {
  font-family: kanit;
  src: url(../font/Kanit-Regular.ttf);
}
@font-face {
  font-family: Kanit;
  src: url(../font/Kanit-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: kanit;
  src: url(../font/Kanit-Light.ttf);
  font-weight: lighter;
}
/* Permet de cacher la barre de défillement */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.transition {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2.5s ease;
  text-align: center;
}
.transition figure {
  cursor: pointer;
  z-index: 3;
  animation: light 2s linear infinite;
}
.transition figure figcaption {
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
}
.transition .moveUp {
  height: 100vh;
  width: 100%;
  background: #99D9F4;
  -webkit-clip-path: polygon(0% 0%, 0% 80%, 120% 0%, 0% 0%);
          clip-path: polygon(0% 0%, 0% 80%, 120% 0%, 0% 0%);
  position: absolute;
  top: 0;
  transition: all 1s ease;
}
.transition .moveDown {
  height: 100vh;
  width: 100%;
  background: #1F4A99;
  -webkit-clip-path: polygon(120% 0%, 100% 0%, 100% 100%, -32% 100%);
          clip-path: polygon(120% 0%, 100% 0%, 100% 100%, -32% 100%);
  position: absolute;
  bottom: 0;
  transition: all 1s ease;
}
.transition.active {
  animation: noVisible 2s;
  z-index: 0;
}
.transition.active .moveUp {
  height: 0;
}
.transition.active .moveDown {
  height: 0;
}
.transition.active figure {
  display: none;
}

@keyframes noVisible {
  from {
    z-index: 100;
  }
  to {
    z-index: 0;
  }
}
@keyframes light {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* desktop */
#modalLink {
  display: none;
}

#mainNav {
  background-color: #009FE3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  color: white;
}
#mainNav a {
  color: white;
}
#mainNav .logo {
  position: relative;
  flex: 3;
}
#mainNav .logo a {
  display: flex;
  align-items: center;
}
#mainNav #titreNavigation {
  display: none;
}
#mainNav .liens {
  position: relative;
  flex: 4;
}
#mainNav .liens ul {
  display: flex;
  padding-right: 2%;
  justify-content: flex-end;
  align-items: center;
}
#mainNav .liens ul li:nth-child(3) {
  display: none;
}
#mainNav .liens ul li a {
  position: relative;
  padding: 1rem 0 0.5rem;
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
}
#mainNav .liens ul li a.active {
  background: rgba(0, 0, 0, 0.2);
}
#mainNav .liens ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: transform 250ms;
}
#mainNav .liens ul li a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
#mainNav .liens ul li:nth-last-child(-n+2) a:hover::after {
  display: none;
}

/* Mobiles */
@media screen and (max-width: 1024px) {
  #modalLink {
    display: none;
    z-index: 200;
  }
  #modalLink.isActive {
    background: url("https://erkomxtil.github.io/DelaStefProd/images/fond.svg") no-repeat center center, url("https://erkomxtil.github.io/DelaStefProd/images/fond-bas.svg") no-repeat center center;
    background-color: #5FB7C2;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  #modalLink.isActive li {
    text-align: center;
  }
  #modalLink.isActive li:nth-child(3) {
    display: none;
  }
  #modalLink.isActive li a {
    color: white;
    text-transform: uppercase;
  }
  #modalLink.isActive .social {
    list-style: none;
  }
  #modalLink.isActive .social li {
    padding: 10px;
  }
  #close {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 3.9%;
    right: 0.6%;
  }
  #close::before {
    content: "";
    display: block;
    background-color: white;
    width: 20px;
    height: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: -6px;
  }
  #close::after {
    content: "";
    display: block;
    background-color: white;
    width: 20px;
    height: 3px;
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: -6px;
  }
  #close:hover {
    cursor: pointer;
  }
  #mainNav {
    position: fixed;
    z-index: 10;
  }
  #mainNav .logo {
    flex: unset;
  }
  #mainNav #titreNavigation {
    display: block;
  }
  #mainNav #titreNavigation h1 {
    text-transform: uppercase;
  }
  #mainNav .liens {
    margin-right: 2%;
    position: relative;
    flex: 0;
  }
  #mainNav .liens::before {
    content: "";
    display: block;
    width: 20px;
    height: 10px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }
  #mainNav .liens::after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  #mainNav .liens:hover {
    cursor: pointer;
  }
  #mainNav .liens ul {
    display: none;
  }
  /* footer */
  #socials {
    display: none;
  }
}
.logo {
  animation: slideLogo 2s;
}

.liens {
  animation: slideLink 1s;
}

@keyframes slideLogo {
  from {
    opacity: 0;
    margin-top: -80px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes slideLink {
  from {
    opacity: 0;
    margin-top: -80px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes start {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
/* Animation de la roue */
.roue {
  display: none;
}

@media screen and (min-width: 1024px) {
  .roue {
    display: block;
    position: absolute;
    top: 20%;
    left: 36%;
    z-index: -1;
    animation: roll 10s linear infinite;
  }
}
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#main.accueil {
  display: flex;
  height: calc(100vh - 160px);
  justify-content: center;
  flex-direction: column;
  max-width: 1024px;
  padding: 0 4rem;
  margin: 0 auto;
}
#main.accueil h1 {
  color: #1F4A99;
  font-size: 2em;
  font-weight: bold;
}
#main.accueil .fonction {
  color: #1C9CD9;
  font-size: 1.5em;
}
#main.accueil .texteAccueil {
  font-size: 0.9em;
  color: white;
}

#mobileNav li {
  padding: 10px;
}

/* version desktop */
@media screen and (min-width: 1024px) {
  #main.accueil h1 {
    font-size: 4em;
  }
  #main.accueil .fonction {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  #main.accueil .linkedin {
    margin-bottom: 0.5em;
  }
  #main.accueil .linkedin a {
    color: #1F4A99;
  }
  #main.accueil .texteAccueil {
    margin-bottom: 0.5em;
  }
}
#main.cv h1 {
  color: blue;
}

#main.realisations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#main.realisations .realisationsBlock {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#main.realisations .realisationsBlock .imgLink {
  cursor: pointer;
  transform: scale(1);
  transition: all 1s ease;
  opacity: 1;
  width: 100%;
}
#main.realisations .realisationsBlock .imgLink:hover {
  transform: scale(1.5);
  opacity: 0.5;
}
#main.realisations .realisationsBlock .titleHover {
  text-transform: uppercase;
  font-size: 1.5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wrapperInfos {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 0 5%;
}
#wrapperInfos figure {
  position: relative;
}
#wrapperInfos figure .imgLink {
  height: 200px;
}
#wrapperInfos p {
  color: white;
  text-align: center;
  line-height: 1.6em;
  max-width: 500px;
  padding-bottom: 40px;
}
#wrapperInfos p .boldinfos {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
}
#wrapperInfos p .entreprise {
  text-transform: uppercase;
}
#wrapperInfos p a {
  color: white;
}
#wrapperInfos #closeInfos {
  color: white;
  position: absolute;
  top: 10px;
  right: 4%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #1c9cd9;
  width: 20px;
  height: 20px;
  border: 1px solid #1F4A99;
  border-radius: 20px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  #main.realisations {
    justify-content: space-between;
  }
  #main.realisations .realisationsBlock {
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  #main.realisations {
    justify-content: unset;
    /* Animation de la flèche pour le scroll */
  }
  #main.realisations .realisationsBlock {
    width: 25%;
  }
  #main.realisations .arrowBlock {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 40px;
    width: 40px;
  }
  #main.realisations .arrowBlock::before {
    content: "";
    border-color: #1F4A99;
    border-style: solid;
    border-width: 4px 4px 0 0;
    display: inline-block;
    height: 30px;
    left: 0px;
    position: relative;
    top: -20px;
    vertical-align: top;
    width: 30px;
    transform: rotate(135deg);
    animation: arrowMove 1s infinite ease-in-out;
  }
  @keyframes arrowMove {
    0% {
      top: -4px;
    }
    50% {
      top: -20px;
    }
    100% {
      top: -4px;
    }
  }
}
@media screen and (min-width: 1024px) {
  #main.realisations {
    height: calc(100vh - 80px);
  }
  #main.realisations #wrapperInfos {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
  }
  #main.realisations #wrapperInfos .imgLink {
    height: 200px;
  }
  #main.realisations #wrapperInfos p {
    text-align: left;
    margin-left: 20px;
  }
}
#main.contact {
  display: flex;
  width: 50vw;
  align-items: center;
  height: calc(100vh - 80px);
  justify-content: center;
  color: white;
}
#main.contact label {
  text-transform: uppercase;
}
#main.contact input, #main.contact textarea {
  width: 50vw;
  margin: 1rem 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}
#main.contact input::-moz-placeholder, #main.contact textarea::-moz-placeholder {
  color: #7FC5CE;
}
#main.contact input::placeholder, #main.contact textarea::placeholder {
  color: #7FC5CE;
}
#main.contact input[type=submit] {
  cursor: pointer;
  border-radius: 4px;
  width: 50vw;
  border: none;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

@media screen and (min-width: 1024px) {
  #main.contact {
    margin: 0 auto;
  }
}
footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: url("https://erkomxtil.github.io/DelaStefProd/images/fond-site.jpg") top left #0009f3;
  height: 80px;
  width: 100%;
  bottom: 0;
}
footer a {
  color: white;
}
footer #contact {
  border: 2px solid white;
  padding: 2px;
}
footer #socials p {
  display: flex;
  align-items: center;
}
footer #socials p a {
  padding-left: 4%;
}

body {
  font-family: "Kanit", sans-serif;
  background: url("https://erkomxtil.github.io/DelaStefProd/images/fond.svg") center top, url("https://erkomxtil.github.io/DelaStefProd/images/fond-bas.svg") no-repeat center 0px;
  background-size: cover, cover;
}/*# sourceMappingURL=style.css.map */