#main.accueil {
  display: flex;
  height: calc(100vh - 160px);
  justify-content: center;
  flex-direction: column;
  max-width: 1024px;
  padding: 0 4rem;
  margin: 0 auto;

  h1 {
    color: $darkBlueTexte;
    font-size: 2em;
  }
  .fonction {
    color: $lightBlueTexte;
    font-size: 1.5em;
  }
  .texteAccueil {
    font-size: 0.9em;
  }
}
#mobileNav li {
  padding: 10px;
}


/* version desktop */ 
@media screen and (min-width: 1024px) {
  #main.accueil {

    h1 {
      font-size: 4em;
    }
    .fonction {
      font-size: 3em;
      margin-bottom: 0.5em;
    }
    .linkedin {
      margin-bottom: 0.5em;
      a {
        color: $darkBlueTexte;
      }
    }
    .texteAccueil {
      margin-bottom: 0.5em;
    }
  }
}
