.logo{
  animation: slideLogo 1s;
}
.liens{
  animation: slideLink 1s; 
}

.transition {
  position: absolute;
  top: 0%;
  left: 0;
  background: blue;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  figure {
    cursor: pointer;
  }

  &.active {
    top: -100%;
    animation: start 2s ease-in;
  }
}

@keyframes slideLogo {
  from {
    opacity: 0;
    margin-top: -80px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes slideLink {
  from {
    opacity: 0;
    margin-top: -80px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes start {
  0% {
    top: 0%
  }
  100% {
    top: -100%;
  }
}