#main.realisations {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 160px;

  .realisationsBlock{
    width: 50%;
    .imgLink {
      cursor: pointer;
      width: 100%;
    }
  }
}

#paragrapheInfos {
  position: relative;
}
#closeInfos {
  color: $darkBlue;
  position: absolute;
  top: 20px;
  right: 0;
}