#main.realisations {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 160px;

  .realisationsBlock{
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-top: 14px;
    .imgLink {
      cursor: pointer;
      width: 80px;
      height: 80px;
      border: solid 3px $lightBlueTexte;
      border-radius: 8px;
    }
  }
}

#paragrapheInfos {
  position: relative;
  width: 100%;
}
#closeInfos {
  color: $lightBlueTexte;
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 1.4em;
  font-weight: bold;
}