#main.realisations {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 160px;
  justify-content: center;

  .realisationsBlock {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;

    .imgLink {
      cursor: pointer;
      transform: scale(1);
      transition: all 1s ease;
      opacity: 1;
      width: 100%;

      &:hover {
        transform: scale(1.5);
        opacity: 0.5;
      }
    }

    .titleHover {
      text-transform: uppercase;
      font-size: 1.5rem;
      position: absolute;
      width: 100%;
      text-align: center;
      cursor: pointer;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}



#wrapperInfos {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
    line-height: 1.6em;

    .boldinfos {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.2em;
    }

    .entreprise {
      text-transform: uppercase;
    }
  }

  #closeInfos {
    color: white;
    position: absolute;
    bottom: -60px;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    background-color: #1C9CD9;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  #main.realisations {
    justify-content: space-between;

    .realisationsBlock {
      width: 50%;
    }
  }
}

@media screen and (min-width: 900px) {
  #main.realisations {
    justify-content: unset;

    .realisationsBlock {
      width: 25%;
    }
  }
}

@media screen and (min-width: 1024px) {
  #main.realisations {
    height: calc(100vh - 80px);
    align-items: center;
  }

  .wrapperInfos {
    .imgLink {
      height: 80px;
    }
  }
}