
@import '_reset';
@import '_variables';
@import '_commun';
@import '_transition';
@import '_nav';
@import '_animation';
@import '_accueil', '_cv', '_realisations', '_contact';
@import '_footer';

body{
  font-family: 'Kanit', sans-serif;
  background: url("https://erkomxtil.github.io/DelaStefProd/images/fond.svg") center top, url("https://erkomxtil.github.io/DelaStefProd/images/fond-bas.svg") no-repeat center 0px;
  background-size: cover, cover;
}

